
@media screen and (max-width: 900px){

  .container__big-card{
    /* border: solid white 2px; serve para visualizar, posteriormente apaga esta linha*/
    width: 250px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .big-card__title > h1{
    font-size: 16px;
    margin-top: 5%;
  }

    .big-card__photo > img{
      width: 250px;
      min-width: 150px;
      height: 120px;
    }

    .big-card__description{
      font-size: 12px;
    }
}


