.container__big-card{
  /* border: solid white 2px; serve para visualizar, posteriormente apaga esta linha*/
  width: 70%;
  height: 130%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 14%;
}

.big-card__title > h1{
  font-size: 140%;
  margin-top: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.big-card__title > h1:hover{
  color: rgb(201, 146, 253);
}

.big-card__description{
  margin-top: 2%;
}

.big-card__description > p{
  color: gray;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.big-card__photo > img{
  width: 110%;
  min-width: 110%;
}




