
@media screen and (max-width: 900px){

  .container__small-card{
    /* border: 1px solid white;*/
    width: 180px;
    margin-bottom: 10px;
  }

  .small-card__photo > img{
    max-width: 80px;
    min-width: 75px;
  }

  .small-card__title{
    font-size: 3.5px;
  }

  .container__small-card__separator{
    margin-top: 1px;
  }
}







