.container__small-card{
  /* border: 1px solid white;*/
  width: 102%;
  margin-bottom: 15px;
}

.container__small-card > a{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img{
  max-width: 200px;
  min-width: 47%;
}

.small-card__title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75%;
  margin-left: 3%;
}

.small-card__title> h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.small-card__title > h1:hover{
  color:blue;
}

.container__small-card__separator{
  margin-top: 2%;
}
