.container__content{
  /*border: 1px solid white;*/
  width: 100%;
  height: 100%;   /* vh é um tipo de visualização o qual ocupa toda tela mesmo em tamanhos diferente*/
  margin-top: 1%;
}

.container__content > a{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  margin-left: 3%;
  font-size: 135%;
}

.container__content > a:hover{
  color:rgb(201, 146, 253);
}

.content__cover > img{
  border: 0.5px solid rgb(194, 150, 150);
  border-radius: 2%;
  width: 10%;
  min-width: 10%;
  margin-top: 1%;
}

.content__title{
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__title > h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 5%;
}

.content__cover > img{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37%;
  margin-left: 31%;
}

.content__description{
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  margin-left: 6%;
  margin-right: 6%;
  align-items: center;
}

.content__description-div{
  font-family:'Courier New', Courier, monospace;
}

.container__content > hr{
  margin-top: 3%;
  border: none;
}
