@media screen and (max-width: 900px){
  .container_fit{
    padding: 7px;
    margin-bottom: 20px;
  }

  .tag_fit > a {
    border: solid 2px #28242f;
    border-radius: 20px;
    padding: 3px 9px;
    margin-bottom: 2px;
    margin-left: .8px;
    font-size: 3.8px;
  }

  .card_fit{
    width: 115px;
    height: 114px;
    border-radius: 20px;
    padding: 7px;
    font-size: 5px;
  }
}


