<div class="container_fit">
  <div class="card_fit">
      <div class="tag_fit">
        <a [routerLink]="['content', Id]">{{ chave1 }}</a>
        <a [routerLink]="['content', Id]">{{ chave2 }}</a>
        <a [routerLink]="['content', Id]">{{ chave3 }}</a>
        <a [routerLink]="['content', Id]">{{ chave4 }}</a>
        <a [routerLink]="['content', Id]">{{ chave5 }}</a>
        <a [routerLink]="['content', Id]">{{ chave6 }}</a>
        <a [routerLink]="['content', Id]">{{ chave7 }}</a>
        <a [routerLink]="['content', Id]">{{ chave8 }}</a>
        <a [routerLink]="['content', Id]">{{ chave9 }}</a>
        <a [routerLink]="['content', Id]">{{ chave10 }}</a>
        <a [routerLink]="['content', Id]">{{ chave11 }}</a>
        <a [routerLink]="['content', Id]">{{ chave12 }}</a>
      </div>
  </div>
</div>


