<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="../../../assets/estat.png" cardTitle="A Máscara Estatística" cardDescription="Você já se deparou com alguma mensagem ou dado impressionante, quase irreal, de determinado jornal ou certa propaganda?"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card photoCover="./../../assets/secund.png" cardTitle="Um outro artigo qualquer"></app-small-card>
    <app-small-card photoCover="./../../assets/secund.png" cardTitle="Um outro artigo qualquer"></app-small-card>
    <app-small-card photoCover="./../../assets/secund.png" cardTitle="Um outro artigo qualquer"></app-small-card>
  </div>
</div>
