.container__menu-bar > ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li{
  margin-right: 17px;
  list-style: none;
  margin-top: 5%;
}

.container__menu-bar > ul > li > a:hover{
  color:rgb(201, 146, 253);
}

.container__menu-bar > ul > li > a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



