<div class="container_fit">
  <div class="card_fit">
      <div class="card_head">
        <h2>Indecisão para escolher o artigo?</h2>
      </div>
      <hr>
      <div class="card_heading">
        <h2>Encontre o texto ideal para você através das palavras-chave!</h2>
        <hr>
        <h2>Cada card abaixo contém palavras-chave que indicam a prévia do conteúdo.</h2>
        <hr>
        <h2>Ao realizar o 'click' você será redirecionado para o artigo correspondente.</h2>
      </div>
  </div>
</div>
